body {
	background: #969696;
}

div.container {
     width: 1100px; /*Ширина элемента в пикселах */
     padding: 5px; /*Поля вокруг текста */
     margin: auto; /*Выравниваем по центру */
	 background: #f9f9f9;
}

div.container_content {
     width: 1100px; /*Ширина элемента в пикселах */
     padding: 0px; /*Поля вокруг текста */
     margin: auto; /*Выравниваем по центру */
}