
div.base_content {
	padding-left: 10px;
	padding-right: 10px;
	/* width: 100%; */
	/* background: #bab2b5; */
}

div.base_content_header {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	position: fixed;
	z-index: 999;
	background: #bab2b5;
}

.head_table {
    /* border: 1px solid #000; */
	border-collapse: collapse;
    width: 100%;
	table-layout: fixed;
	margin: 0 auto;
	align-items: center;
	font-size: 0.8rem;
	background: #fff;
}

.head_table th {
	border: 1px solid #000;
}

.details_table {
    /* border: 1px solid #000; */
	border-collapse: collapse;
    width: 100%;
	table-layout: fixed;
	margin: 0 auto;
	margin-top: 50px;
	align-items: center;
	font-size: 0.8rem;
	background: #fff;
}

/* thead { */
	/* width: 100%; */
	/* margin-top: 0px; */
	/* position: fixed; */
	/* z-index: 999; */
	/* background: #bab2b5; */
/* } */

div.base_control_panel {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	width: 1100px;
	/* background: #bab2b5; */
}

/* tr.head_row { */
	/* font-weight: bold; */
	/* font-size: 1rem; */
    /* border: 1px solid #000; */
    /* padding: 4px; */
	
	/* position: fixed; */
	/* z-index: 999; */
/* } */

.details_table td {
    border: 1px solid #000;
    /* padding: 4px; */
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/* vertical-align: bottom; */
	/* background: #fff; */
}

tr.detail_row {
	height: 21px;
	cursor: pointer;
	transition: outline 0.3s;
}

tr.detail_row:hover {
  outline: 2px solid #2525ff;
}

/* tr.head_row:hover { */
  /* outline: 2px solid #bab2b5; */
/* } */

img.loadinf_gif {
    width: 50px;
    height: 50px;
    text-align: center;
}


.material_col 	{width: 135px;}
.id_col 		{width: 50px;}
.grave_col 		{width: 50px;}
.size_col 		{width: 90px;}
.poddon_col 	{width: 80px;}
.comment_col 	{width: 80px;}
.actdate_col 	{width: 80px;}
.parts_col 		{width: 80px;}
.times_col 		{width: 60px;}
/* .descr_col 		{width: 300px;} */

dialog {
	/* width: 800; */
	margin: auto auto;
	padding: 20px;
	/* margin-top: 80px; */
	align-items: center;
	/* font-size: 0.8rem; */
	background: #bab2b5;
	border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

dialog input {
	padding: 5px;
}

dialog button {
	padding: 5px;
}

/* dialog::backdrop { */
    /* background-color: rgb(0 0 0 / 0.6); */
    /* backdrop-filter: blur(10px); */
	/* position: fixed; */
    /* inset: 0px; */
    /* background: rgba(0, 0, 0, 0.1); */
/* } */
