{% extends "base.html" %}
{% block title %}Details Base{% endblock title %}
{% block header %}Details Base{% endblock header %}
{% block content %}

{% load static %} <!-- Instruct Django to load static files -->
<script src="{% static 'htmx.min.js' %}"> </script>
<link rel="stylesheet" type="text/css" href="{% static 'OrdersListStyles.css' %}" />

<a href="{% url 'urlLoadFromFile' %}">Load from Excel...</a>

<table>
<thead><tr>
	<th>material_name</th>
	<th>number</th>
	<th>name</th>
	<th>grave</th>
	<th>size</th>
	<th>marshrut</th>
	<th>poddon</th>
	<th>comment</th>
	<th>actual_date</th>
	
	<th>frw_file_name</th>
	<th>frw_file_folder</th>
	<th>frw_file_date</th>
	<th>cdw_file_name</th>
	<th>cdw_file_folder</th>
	<th>cdw_file_date</th>
	<th>frw_file_parts</th>
	
	<th>stages</th>
	<th>times</th>
	<th>descriptions</th>
</tr></thead>
<tbody>
{% for detail in details %} 
	<tr>
		<td> {{detail.material_name}} </td>
		<td> {{detail.number}} </td>
		<td> {{detail.name}} </td>
		<td> {{detail.grave}} </td>
		<td> {{detail.size}} </td>
		<td> {{detail.marshrut}} </td>
		<td> {{detail.poddon}} </td>
		<td> {{detail.comment}} </td>
		<td> {{detail.actual_date}} </td>
		
		<td> {{detail.frw_file_name}} </td>
		<td> {{detail.frw_file_folder}} </td>
		<td> {{detail.frw_file_date}} </td>
		<td> {{detail.cdw_file_name}} </td>
		<td> {{detail.cdw_file_folder}} </td>
		<td> {{detail.cdw_file_date}} </td>
		<td> {{detail.frw_file_parts}} </td>
		
		<td> {{detail.stages}} </td>
		<td> {{detail.times}} </td>
		<td> {{detail.descriptions}} </td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock content %}
