{% extends "base.html" %}
{% block title %}Details Base{% endblock title %}
{% block header %}Details Base{% endblock header %}
{% block content %}

{% load static %} <!-- Instruct Django to load static files -->
<script src="{% static 'htmx.min.js' %}"> </script>
<link rel="stylesheet" type="text/css" href="{% static 'DetailsBaseStyles.css' %}" />

<div class="base_content_header">
<div class="base_control_panel">
	<a href="{% url 'urlLoadFromFile' %}">Load from Excel...</a>
	<a href="#d-666">Go to detail id=666</a>
	dfdfdf
</div>
</div>

<div class="base_content">
<table class="details_table">
<thead>
<tr class="head_row">
	<th class="id_col">id</th>
	<th class="material_col">material_name</th>
	<th>number</th>
	<th>name</th>
	<th class="grave_col">grave</th>
	<th class="size_col">size</th>
	<th>marshrut</th>
	<th class="poddon_col">poddon</th>
	<th class="comment_col">comment</th>
	<th class="actdate_col">actual_date</th>
	
	<th>frw_file_name</th>
	<th>cdw_file_name</th>
	<th class="parts_col">frw_file_parts</th>
	
	<th>stages</th>
	<th class="times_col">times</th>
	<th class="descr_col">descriptions</th>
</tr>
</thead>

<tbody>
{% for detail in details %} 
	<tr class="detail_row" id="d-{{ detail.id }}" hx-get="/load_detail_row/{{ detail.id }}" hx-trigger="revealed" 	hx-swap="innerHTML"></tr>
{% endfor %}
</tbody>
</table>

</div>
{% endblock content %}
