{% extends "base.html" %}
{% block title %}Materials{% endblock title %}
{% block header %}Materials{% endblock header %}
{% block content %}

{% load static %} <!-- Instruct Django to load static files -->
<script src="{% static 'htmx.min.js' %}"> </script>
<link rel="stylesheet" type="text/css" href="{% static 'DetailsBaseStyles.css' %}" />


<div class="base_content_header">
	<div class="base_control_panel">
		<a href="{% url 'urlLoadSBFromFile' %}">Load from Excel...</a>
		<a href="#s666">Go to SB id=666</a>
		dfdfdf
	</div>

	<table class="head_table">
		<thead>
			<tr class="head_row">
				<th class="id_col">id</th>
				<th>Имя</th>
				<th>Оригинал</th>
				<th>Тип</th>
				<th>Размер</th>
				<th>Сорт</th>
				<th>Цвет</th>
				<th class="times_col">Время рубки</th>
				<th class="times_col">Ширина листа</th>
				<th class="times_col">Длина листа</th>
				<th class="times_col">Вес кг./кв.м.</th>
			</tr>
		</thead>
	</table>
</div>


<div class="base_content">

<table class="details_table">
<thead>
<tr class="head_row">
	<th class="id_col">id</th>
	<th>name</th>
	<th>original</th>
	<th>type</th>
	<th>size</th>
	<th>sort</th>
	<th>color</th>
	<th class="times_col">slash_time</th>
	<th class="times_col">plate_width</th>
	<th class="times_col">plate_lenght</th>
	<th class="times_col">square_m_weidth</th>
</tr>
</thead>
<tbody>
{% for m in mat %} 
	<tr>
		<td> {{m.id}} </td>
		<td> {{m.name}} </td>
		<td> {{m.original}} </td>
		<td> {{m.type}} </td>
		<td> {{m.size}} </td>
		<td> {{m.sort}} </td>
		<td> {{m.color}} </td>
		<td> {{m.slash_time}} </td>
		<td> {{m.plate_width}} </td>
		<td> {{m.plate_lenght}} </td>
		<td> {{m.square_m_weidth}} </td>
	</tr>
{% endfor %}
</tbody>
</table>

</div>
{% endblock content %}
