{% extends "base.html" %}
{% block title %}SB Base{% endblock title %}
{% block header %}SB Base{% endblock header %}
{% block content %}

{% load static %} <!-- Instruct Django to load static files -->
<script src="{% static 'htmx.min.js' %}"> </script>
<link rel="stylesheet" type="text/css" href="{% static 'DetailsBaseStyles.css' %}" />

<div class="base_content_header">
<div class="base_control_panel">
	<a href="{% url 'urlLoadFromFile' %}">Load from Excel...</a>
	<a href="#s666">Go to SB id=666</a>
	dfdfdf
</div>
</div>


<div class="base_content">
<table class="details_table">
<thead>
<tr class="head_row">
	<th class="id_col">id</th>
	<th>number</th>
	<th>name</th>
	<th>composition</th>
	<th class="actdate_col">actual_date</th>
	<th class="comment_col">comment</th>
	<th>cdw_file_name</th>
</tr>
</thead>

<tbody>

{% for sb in sbs %} 
	<tr class="detail_row" id="s{{sb.id}}" hx-get="/load_sb_row/{{sb.id}}" hx-trigger="revealed" hx-swap="innerHTML"></tr>
{% endfor %}

</tbody>
</table>

</div>
{% endblock content %}
