<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	{% load static %}
	<link rel="shortcut icon" href="{% static 'BodorPro.ico' %}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{% static 'baseStylesheet.css' %}" />
	<title>{% block title %} Title {% endblock title %}</title>
</head>

<body>
	<!-- Site Header -->
    <header>
        <div class="header-container">
            <div class="site-title">{% block header %} header {% endblock header %}</div>
            <nav>
                <ul>
                    <li><a href="{% url 'urlOrdersList' %}">Orders List</a></li>
                    <li><a href="{% url 'urlDetailsBase' %}">Details Base</a></li>
					<li><a href="{% url 'urlSBBase' %}">SB Base</a></li>
                    <li><a href="{% url 'urlOrdersList' %}">Statistics</a></li>
                    <li><a href="{% url 'admin:login' %}">Admin</a></li>
                    <li><a href="{% url 'urlOrdersList' %}" class="register-btn">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
	
	
	<!-- Main content -->
	<main class="container_content">
		{% block content %}{% endblock content %}
	</main>

	
	<!-- Footer -->
    <footer>
        <div class="footer-content">
            <p>© 2024 My site. All right reserved.</p>
            <div class="footer-links">
                <a href="#">Link1</a>
                <a href="#">Link2</a>
                <a href="#">Contacts</a>
            </div>
        </div>
    </footer>


</body>
</html>