body
{
}

div.order_line tr:hover {
    background-color: #f0f0f0;
}

a.order_line tr:hover {
    background-color: #f0f0f0;
}

div.order_element_buttons {
    display: inline-block;
    width: 45px;
}

div.order_element_number {
    display: inline-block;
    width: 80px;
}

div.order_element_statys {
    display: inline-block;
    width: 120px;
}

div.order_element_start {
    display: inline-block;
    width: 130px;
}

div.order_element_stop {
    display: inline-block;
    width: 130px;
}

div.order_element_comm {
    display: inline-block;
    width: 300px;
}



details {
    margin: 10px 0;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
}

summary {
    cursor: pointer;
    font-weight: normal;
    padding: 5px;
    outline: medium;
    background: #7ca7cf;
    list-style: none;
    content: "  ";
}

summary:hover {
    background: #6081a0;
}

details[open] {
}

details details {
    margin-left: 20px;
    background: #f0f0f0;
}

.content {
    padding: 10px;
    margin-top: 5px;
}




table.iksweb {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}

    table.iksweb, table.iksweb td, table.iksweb th {
        border: 1px solid #595959;
    }

        table.iksweb td, table.iksweb th {
            padding: 3px;
            width: 30px;
            height: 35px;
        }

        table.iksweb th {
            background: #4e6982;
            color: #fff;
            font-weight: normal;
        }

