
div.container_content {
     width: 1100px; /*Ширина элемента в пикселах */
     padding: 0px; /*Поля вокруг текста */
     margin: auto; /*Выравниваем по центру */
}

div.order_caption {
	/*background: #254e58;*/
	color: #254e58;
	font-weight: bold;
	/*padding: 5px;*/
	padding-left: 15px;
	/*border: 1px solid #ddd;
    border-radius: 5px;
	margin: 5px 0;*/
}

div.order_form {
	background: #254e58;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
	padding-left: 15px;
	border: 1px solid #ddd;
    border-radius: 5px;
	/*margin: 5px 0;*/
}

input {
	font-size: 16px;
	/*background: #254e58;*/
	color: #000;
	font-weight: bold;
	padding-left: 5px;
	border: 1px solid #ddd;
	border-radius: 2px;
}


/* Order table styles */
.order_element_buttons	{ display: inline-block; width: 45px;}
.order_element_number 	{ display: inline-block; width: 80px;}
.order_element_statys 	{ display: inline-block; width: 125px;}
.order_element_add 		{ display: inline-block; width: 140px;}
.order_element_start 	{ display: inline-block; width: 135px;}
.order_element_stop 	{ display: inline-block; width: 135px;}
.order_element_comm {
	display: inline-block;
	width: 350px;
	margin-left: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: bottom;
	/*font-size: 10px*/
}


details {
    margin: 5px 0;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
}

summary {
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	
	padding: 5px;
	padding-left: 10px;
	border-radius: 5px;
	width: 100%;
	/*outline: medium;*/
	background: #254e58;
	transition: background-color 0.3s;
	list-style: none;
	/*content: "  ";*/
}

summary:hover {
    background: #008080;
}

details[open] .order_element_comm {
	word-break: break-all;
	white-space: normal;
	overflow: visible;
}

details details {
    margin-left: 20px;
    background: #f0f0f0;
}

.prodacts_list {
    padding: 10px;
    margin-top: 5px;
}

img.loadinf_gif {
    width: 50px;
    height: 50px;
    text-align: center;
}



