
/*
table.iksweb {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}

    table.iksweb, table.iksweb td, table.iksweb th {
        border: 1px solid #595959;
    }

        table.iksweb td, table.iksweb th {
            padding: 3px;
            width: 30px;
            height: 35px;
        }

        table.iksweb th {
            background: #f18212;
            color: #fff;
            font-weight: bold;
        }
    */

.spreadsheet {
    border-collapse: collapse;
    width: 100%;
}

.cell {
    border: 1px solid #ccc;
    padding: 4px;
    min-width: 100px;
    height: 25px;
}

    .cell:focus {
        outline: 2px solid #007bff;
    }

.header {
    background-color: #f8f9fa;
    font-weight: bold;
}
