


.spreadsheet {
    border-collapse: collapse;
    width: 100%;
}

.cell {
    border: 1px solid #ccc;
    padding: 4px;
    min-width: 100px;
    height: 25px;
	cursor: cell;
}

    .cell:focus {
        outline: 2px solid #007bff;
    }

.cell_header {
    /*background-color: #f8f9fa;*/
	color: #f18212;
    font-weight: bold;
}

input.cell-input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
            font: inherit;
			color: #000;
			background: #f9f9f9;
        }