{% extends "base.html" %}
{% block title %}Orders List{% endblock title %}
{% block header %}Orders List{% endblock header %}
{% block content %}

{% load static %} <!-- Instruct Django to load static files -->
<script src="{% static 'htmx.min.js' %}"> </script>
<link rel="stylesheet" type="text/css" href="{% static 'OrdersListStyles.css' %}" />

<div>
	<div class="order_caption">
		<span class="order_element_number">Number</span>
		<span class="order_element_statys">Statys</span>
		<span class="order_element_add">Date add</span>
		<span class="order_element_start">Date start</span>
		<span class="order_element_stop">Date end</span>
		<span class="order_element_comm">Comment</span>
		<span class="order_element_buttons">-</span>
	</div>
	
	{% for order in orders %} 
	<details>
		<summary>
			<span class="order_element_number">{{ order.order_number }} </span>
			<span class="order_element_statys">{{ order.statys }} </span>
			<span class="order_element_add">{{ order.date_add|date:"d.m.Y G:i" }} </span>
			<span class="order_element_start">{{ order.date_start|date:"d.m.Y" }} </span>
			<span class="order_element_stop">{{ order.date_end|date:"d.m.Y" }} </span>
			<span class="order_element_comm">{{ order.comment }} </span>
			<span class="order_element_buttons">-</span>
		</summary>
		<div class="prodacts_list"  hx-get="/load_prodacts/{{ order.order_number }}" hx-trigger="intersect">
			<img class="loadinf_gif" src="{% static 'loading.gif' %}" alt="Loading..."/>
		</div>
	</details>
	{% endfor %}
	
	<div class="order_form">
	<form method="post" action="post_new_order/">
        {% csrf_token %}
		<div class="order_edit">
			<span class="order_element_number"><input name="order_number" type="text" size="5" /></span>
			<span class="order_element_statys"><input name="order_statys" list="statys" size="10" /></span>
			<span class="order_element_add"> Current </span>
			<span class="order_element_start"><input name="order_start" type="date"  size="10" /></span>
			<span class="order_element_stop"><input name="order_end" type="date"  size="10" /></span>
			<span class="order_element_comm"><input name="order_comment"  type="text"  size="45"/></span>
			<span class="order_element_buttons"><input type="submit" value="Add" /></span>
		</div>
		<datalist id="statys">
			<option value="prodaction">
			<option value="paused">
			<option value="closed">
		</datalist>
    </form>
	</div>
	
	<div class="order_form">
	<form method="post" action="post_new_order/">
        {% csrf_token %}
		<table> {{ order_form.as_table }} </table>
		<input type="submit" value="Send" >
	</form>
	</div>

</div>

{% endblock content %}
