{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block header %}Main{% endblock header %}
{% block content %}

{% load static %} <!-- Instruct Django to load static files -->
<script src="{% static 'htmx.min.js' %}"> </script>
<link rel="stylesheet" type="text/css" href="{% static 'OrdersListStyles.css' %}" />

<div>
	<div class="order_caption">
		<div class="order_element_number">Number</div>
		<div class="order_element_statys">Statys</div>
		<div class="order_element_add">Date add</div>
		<div class="order_element_start">Date start</div>
		<div class="order_element_stop">Date end</div>
		<div class="order_element_comm">Comment</div>
		<div class="order_element_buttons">-</div>
	</div>
	
	{% for order in orders %} 
	<details>
		<summary>
			<div class="order_element_number">{{ order.order_number }} </div>
			<div class="order_element_statys">{{ order.statys }} </div>
			<div class="order_element_add">{{ order.date_add|date:"d.m.Y G:i" }} </div>
			<div class="order_element_start">{{ order.date_start|date:"d.m.Y" }} </div>
			<div class="order_element_stop">{{ order.date_end|date:"d.m.Y" }} </div>
			<div class="order_element_comm">{{ order.comment }} </div>
			<div class="order_element_buttons">Edit</div>
		</summary>
		<div class="prodacts_list"  hx-get="/load/{{ order.order_number }}" hx-trigger="intersect">
			<img class="loadinf_gif" src="{% static 'loading.gif' %}"/>
		</div>
	</details>
	{% endfor %}
	
	
	<div class="order_form">
	<form method="post" action="postuser/">
        {% csrf_token %}
		<div class="order_edit">
			<div class="order_element_number"><input name="order_number" type="text" size="5" /></div>
			<div class="order_element_statys"><input name="order_statys" list="statys" size="10" /></div>
			<div class="order_element_add"> Current </div>
			<div class="order_element_start"><input name="order_start" type="date" /></div>
			<div class="order_element_stop"><input name="order_end" type="date" /></div>
			<div class="order_element_comm"><input name="order_comment"  type="text"  size="20"/></div>
			<div class="order_element_buttons"><input type="submit" value="Add" /></div>
		</div>
		<datalist id="statys">
			<option value="prodaction">
			<option value="paused">
			<option value="closed">
		</datalist>
    </form>
	</div>

</div>

{% endblock content %}
