{% load static %} <!-- Instruct Django to load static files -->
<!-- <script src="{% static 'prodactsListScripts.js' %}"> </script> -->
<link rel="stylesheet" type="text/css" href="{% static 'ProdactsListStyles.css' %}" />

<div>

	<table  class="spreadsheet">
		<thead>
		<tr>
			<th class="cell_header">number</th>
			<th class="cell_header">name</th>
			<th class="cell_header">factory_number</th>
			<th class="cell_header">specification</th>
			<th class="cell_header">amount</th>
			<th class="cell_header">kategory</th>
			<th class="cell_header">comment</th>
		</tr>
		</thead>

		<tbody>
		{% for prodact in prodacts %}
		<tr hx-get="/new_prodact_form"
			hx-trigger="click"
			hx-target="this">
			<td class="cell">{{ prodact.number }}</td>
			<td class="cell">{{ prodact.name }}</td>
			<td class="cell">{{ prodact.factory_number }}</td>
			<td class="cell">{{ prodact.specification }}</td>
			<td class="cell">{{ prodact.amount }}</td>
			<td class="cell">{{ prodact.kategory }}</td>
			<td class="cell">{{ prodact.comment }}</td>
		</tr>
		<!--<tr><td>Cut operations</td></tr>-->
		{% endfor %}

		<tr >
			{% include "partials/new_prodact_form.html" %}
		</tr>
		</tbody>
	</table>
</div>


